/* ======================= ROOT ===================== */
/* ======================= ROOT ===================== */
/* ======================= ROOT ===================== */

@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Nunito:wght@200;400&display=swap');

:root {
  --color-black-pure: #000;
  --color-grey-darkest: #232323;
  --color-grey-dark: #454545;
  --color-grey-medium: #777;
  --color-grey-light: #9a9a9a;
  --color-grey-lightest: #cdcdcd;
  --color-white-pure: #fff;
}

/* ==================== UTILITIES ==================== */
/* ==================== UTILITIES ==================== */
/* ==================== UTILITIES ==================== */

* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#root {
  width: 100vw;
  height: 100vh;
  font-family: 'Nunito', sans-serif;
}

a {
  text-decoration: none;
}

.btn {
  padding: 2rem 4rem;
  background: var(--color-white-pure);
  color: var(--color-grey-dark);
  border: 4px double var(--color-grey-darkest);
  font-weight: 400;
  box-shadow: 0 15px 15px -10px rgba(0, 0, 0, 0.25);
  transition: 0.4s;
}

.btn:hover {
  background: var(--color-white-pure);
  color: var(--color-black-pure);
  border-style: solid;
  transform: translateY(-2px);
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.25);
}

.circle-btn {
  width: 40px;
  height: 40px;
  border: 2px solid white;
  border-radius: 50%;
  background: linear-gradient(217deg, rgba(255, 0, 0, 0.8), rgba(255, 0, 0, 0) 70.71%),
    linear-gradient(127deg, rgba(0, 255, 0, 0.8), rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, rgba(0, 0, 255, 0.8), rgba(0, 0, 255, 0) 70.71%);
  box-shadow: 0 5px 5px -10px rgba(0, 0, 0, 0.5);
  transition: 0.4s;
}

.circle-btn:hover {
  transform: scale(1.1);
}

.circle-btn:focus {
  outline: none;
}

.text-center {
  text-align: center;
}

#home-container h1 span,
#nav-logo span {
  font-family: 'Monoton', cursive;
  font-weight: lighter;
}

/* ======================= HOME ====================== */
/* ======================= HOME ====================== */
/* ======================= HOME ====================== */

#home {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#home-container {
  height: 400px;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#home-container p,
#home-container h1 {
  color: var(--color-grey-dark);
}

#home-container h1 {
  font-size: 3rem;
}

#home-container h1 span {
  font-size: 4rem;
}

/* ===================== BUILDER ===================== */
/* ===================== BUILDER ===================== */
/* ===================== BUILDER ===================== */

#builder {
  width: 100%;
  height: 100%;
}

#navbar {
  width: 100%;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#nav-logo a {
  font-size: 1.5rem;
}

#nav-logo span {
  font-size: 1.5rem;
}

#nav-links a {
  margin-left: 1rem;
}
