/* ======================= ROOT ===================== */
/* ======================= ROOT ===================== */
/* ======================= ROOT ===================== */

@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Nunito:wght@200;400&display=swap');

:root {
  --color-black-pure: #000;
  --color-grey-darkest: #232323;
  --color-grey-dark: #454545;
  --color-grey-medium: #777;
  --color-grey-light: #9a9a9a;
  --color-grey-lightest: #cdcdcd;
  --color-white-pure: #fff;
}

/* ==================== UTILITIES ==================== */
/* ==================== UTILITIES ==================== */
/* ==================== UTILITIES ==================== */

* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#root {
  width: 100vw;
  /* height: 100vh; */
  font-family: 'Nunito', sans-serif;
  overflow: hidden;
  /* position: absolute;
  z-index: -1; */
}

a {
  text-decoration: none;
}

.btn {
  padding: 2rem 4rem;
  background: var(--color-white-pure);
  color: var(--color-grey-dark);
  border: 4px double var(--color-grey-darkest);
  font-weight: 400;
  box-shadow: 0 15px 15px -10px rgba(0, 0, 0, 0.25);
  transition: 0.4s;
}

.btn:hover {
  background: var(--color-white-pure);
  color: var(--color-black-pure);
  border-style: solid;
  transform: translateY(-2px);
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.25);
}

textarea {
  resize: none;
  border: none;
}

textarea:focus {
  outline: none;
}

.text-center {
  text-align: center;
}

.pretty {
  margin: 1rem 0 0 1rem;
}

#home-container h1 span,
#nav-logo span {
  font-family: 'Monoton', cursive;
  font-weight: lighter;
}

#section-2 {
  /* width: 100%; */
  height: 100vh;
  background: red;
}

/* ======================= HOME ====================== */
/* ======================= HOME ====================== */
/* ======================= HOME ====================== */

#home {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#home-container {
  height: 400px;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#home-container p,
#home-container h1 {
  color: var(--color-grey-dark);
}

#home-container h1 {
  font-size: 3rem;
}

#home-container h1 span {
  font-size: 4rem;
}

/* ===================== BUILDER ===================== */
/* ===================== BUILDER ===================== */
/* ===================== BUILDER ===================== */

#builder {
  width: 100%;
  min-height: 700px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: absolute; */
  /* top: 0; */
  /* z-index: -4; */
}

/* ====================== NAVBAR ===================== */
/* ====================== NAVBAR ===================== */
/* ====================== NAVBAR ===================== */

#navbar {
  width: 100%;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 10;
}

#nav-logo a {
  font-size: 1.5rem;
}

#nav-logo span {
  font-size: 1.5rem;
}

#nav-links a {
  margin-left: 1rem;
}

/* ================= ATTRIBUTES WINDOW =============== */
/* ================= ATTRIBUTES WINDOW =============== */
/* ================= ATTRIBUTES WINDOW =============== */

#attributes-window {
  width: 400px;
  height: 600px;
  background: var(--color-white-pure);
  border: 3px solid var(--color-grey-darkest);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  position: relative;
}

#attributes-header {
  height: 60px;
  border-bottom: 2px solid var(--color-grey-darkest);
  display: flex;
  justify-content: center;
  align-items: center;
}

#attributes-body {
  height: 480px;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

#attributes-footer {
  height: 60px;
  border-top: 2px solid var(--color-grey-darkest);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#attributes-footer .circle-btn {
  width: 60px;
  height: 100%;
  border-right: none;
  border-bottom: none;
  border-left: 2px solid var(--color-grey-darkest);
  border-top: none;
  border-radius: 0 0 20px 0;
  background: linear-gradient(217deg, rgba(255, 0, 0, 0.8), rgba(255, 0, 0, 0) 70.71%),
    linear-gradient(127deg, rgba(0, 255, 0, 0.8), rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, rgba(0, 0, 255, 0.8), rgba(0, 0, 255, 0) 70.71%);
}

#attributes-footer .circle-btn:hover {
  cursor: pointer;
}

#attributes-footer .circle-btn:focus {
  outline: none;
}

.chrome-picker {
  border-radius: 0 0 25px 0 !important;
  border-left: 2px solid var(--color-grey-darkest);
  border-top: 2px solid var(--color-grey-darkest);
}

/* ===================== CODE BOX ==================== */
/* ===================== CODE BOX ==================== */
/* ===================== CODE BOX ==================== */

.code-box-container {
  width: 300px;
  height: 300px;
  border: 2px solid var(--color-grey-darkest);
  border-left: none;
  background-color: var(--color-white-pure);
  border-radius: 0 0 25px 0;
  position: relative;
  transition: 0.2s;
}

.code-box-container .code-box-header {
  width: 140px;
  padding: 1rem 0;
  border: 2px solid var(--color-grey-darkest);
  border-radius: 15px 15px 0 0;
  background-color: var(--color-white-pure);
  transform: rotate(90deg);
  position: absolute;
  top: 37px;
  right: -101px;
}

.code-box-container .code-box-header:hover {
  cursor: pointer;
  background: antiquewhite;
}

.code-box-container .code-box-header h3 {
  margin-left: 1rem;
}

.code-box-container .code-box-body {
  width: 100%;
  height: 240px;
  padding-left: 1rem;
}

.code-box-container .code-box-footer {
  width: 100%;
  padding-right: 0.5rem;
  text-align: right;
  position: absolute;
  bottom: 0.5rem;
  border-top: 1px solid var(--color-grey-medium);
}

.code-box-container .code-box-footer .fa-copy {
  margin-top: 0.5rem;
}

.code-box {
  width: 100%;
  height: 100%;
}

#html-code {
  position: absolute;
  top: 100px;
  left: -300px;
}

#css-code {
  position: absolute;
  top: 440px;
  left: -300px;
}

#javascript-code {
  position: absolute;
  top: 780px;
  left: -300px;
}
